# Lists, Loops, and Ranges

## What Is a `list`?

We can store collections of data using Python's type `list`. The general form of a `list` is:

`[expression1, expression2, ..., expressionN]`

The expressions within the `list` can either be called **items** or **elements**.

For example, here are the average gross annual earnings for anesthesiologists, ophthalmologists, cardiologists, pediatricians, and family doctors respectively:
- \$361,681  
- \$740,741
- \$396,105
- \$284,600   
- \$249,154  

Source: [link](https://www.cma.ca/Assets/assets-library/document/en/advocacy/Anesthesiology-e.pdf) and similar sources on [cma.ca](https://cmc.ca)

We can store the data in Python as follows:

In [ ]:
earnings = [361681, 740741, 396105,  284600, 249154]

Just like we did with strings, you can access elements of a list using its index. In other words, you can think of a string as a list of characters!

In [ ]:
earnings[0]

In [ ]:
earnings[1]

In [ ]:
earnings[4]

If we try to access an index that doesn't exist, an error occurs:

In [ ]:
earnings[5]

The expression `gross_earnings[2]` gives a `float` value, so you can use the expression `gross_earnings[2]` anywhere that you can use a float. For example:

In [ ]:
0.6 * (earnings[2] + 500)

You can access an element of a list by using a variable or an expression to represent the index:

In [ ]:
i = 2
earnings[i]

## Functions and Operations on Lists
As we did for objects of type `str`, we can obtain the length of a `list` using Python's function `len()`.

In [ ]:
values = [1, 2, 3, 4, 5]

In [ ]:
len(values)

Since the list has 5 elements, the valid indexes into the list are 0, 1, 2, 3, and 4.  In general, the last index is equal to the length of the list minus one:

In [ ]:
print("The index of the last element:", len(values)-1)
print("The last element using an expression:", values[len(values)-1])

Recall that we can use negative indexes to access the elements of a list, with index -1 corresponding with the right-most element:

In [ ]:
print(values[-1])  # same as earnings[len(earnings)-1]
print(values[-2])  # same as earnings[len(earnings)-2]

You can also slice the list just like we did with strings earlier:

In [ ]:
print(values[1:3])
print(values[0:4])

There are several other functions that can take lists as arguments, including `min`, `max`, and `sum`:

In [ ]:
print(min(values))
print(max(values))
print(sum(values))

We can also use the operator `in` to check whether something is an item in a list:

In [ ]:
5 in values

In [ ]:
17 in values

## Practice Exercise: Computing an Average

Write an expression that compuetes the average of `values`.

In [ ]:
values = [5.4, 6, 3.2, 8.1, 11]
# Write your code here

## What Is a `range`?

Python has a built-in function named `range` that produces a sequence of numbers.  Here is a fragment of the documentation for `range`:

    range(start, stop[, step]) -> range object
     |  
     |  Return an object that produces a sequence of integers from start (inclusive)
     |  to stop (exclusive) by step.  range(i, j) produces i, i+1, i+2, ..., j-1.
     |  start defaults to 0, and stop is omitted!  range(4) produces 0, 1, 2, 3.
     |  These are exactly the valid indices for a list of 4 elements.
     |  When step is given, it specifies the increment (or decrement).

If you give `range` a single argument, it produces a sequence that starts from 0 and goes up to **but not including** the argument:

In [ ]:
range(10)

Notice how the Python shell does not show all of the numbers for us. This is because `range` is a special kind of object that does not get fully evaluated until it is actually needed. If you really need to look at the contents for some reason, you can make it into a `list`:

In [ ]:
list(range(10))

If you give `range` two arguments, it will count from the first up to **but not including** the second:

In [ ]:
list(range(5, 11))

If you give `range` three arguments, it will count in increments of the third. For example, here is how we can look at the even numbers from 1 to 10 inclusive:

In [ ]:
list(range(0, 11, 2))

We can use a `for` loop to iterate over the sequence produced by `range`:

In [ ]:
for num in range(10):
    print(num)

Here, you can see that we do not need to convert the `range` to a `list`, and Python is still able to generate all of the list elements when they are needed.

## Practice Exercise: Create a `range`

Use `range()` to make a sequence that includes every 4th number from 0 to 200, inclusive

In [ ]:
# Write your range() call here