# Introduction to Strings

## What Is A String?

Until now, we've only been working with numberic values and two numeric types (`int` and `float`).  Next, we will work with **strings**, which are sequences of **characters** (i.e., letters, numbers, and special symbols). 

Strings in Python are represented with the type `str`. Strings start and end with either single quotes (`'`) or double quotes (`"`).

In [ ]:
'hello'

In [ ]:
"How are you, Agent 007?"

In [ ]:
"this is a 'quote' inside a quote"

## String Operations

Like other data types, we can use them in expressions and assignment statements:

In [ ]:
greeting = 'hello'

In [ ]:
greeting

In [ ]:
# Concatenate
greeting + ' there'

In [ ]:
# Concatenate 3 copies of the string stored as greeting
greeting * 3

In [ ]:
# Notice how we have not assigned a new value to greeting, so its value is unchanged
greeting

## Multi-Line Strings

In addition to single- and double-quotes, we can also use triple-quotes (`'''`) to represent strings.  A triple-quoted string can span multiple lines:

In [ ]:
'''This is
a longer string
that spans
multiple lines.'''

Notice that when the triple-quoted string is evaluated, it produces a single-quoted string containing `\n`. This is the *newline character*, which tells Python that the text should switch to a new line.

You can technically use the newline character in your own strings.

In [ ]:
"This is line 1\nAnd this is line 2"

Whether you actually see a new line or just the newline character depends on the programming environment you are using.