# Type Conversion

We've seen several Python types, including `int`, `float`, and `str`.

In [ ]:
type(42)

In [ ]:
type(3.14)

In [ ]:
type('Hello')

## Between Numeric Types

You can convert between `int` and `float` using their respective built-in functions:

In [ ]:
float(-5)

In [ ]:
int(1.234)

Note that converting from `float` to `int` *truncates* rather than rounds:

In [ ]:
int(3.15)

In [ ]:
int(3.75)

## From Strings To Numbers

We can also convert from `str` to numeric types:

In [ ]:
int('45')

In [ ]:
float('3.14')

However, we need to make sure that the string looks like it would satisfy the constraints of the data type.

In [ ]:
float('3')

In [ ]:
int('1.234')

If we try to convert a `str` that doesn't look like a number into a numeric type, an error will occur:

In [ ]:
float("forty-two")

Once we convert a `str` to a numeric type, we can perform arithmetic operations on it, such as:

In [ ]:
float('3.14') / 2

## From Numbers To Strings

Lastly, you can convert numberic types to `str` using the corresponding built-in function:

In [ ]:
'15.3'

In [ ]:
x = 15.3
str(x)

Just as how converting strings to numeric types allows you to perform mathematical operations on the data, converting numeric types to strings will allow you to perform string operations on the data.

In [ ]:
12.3 + 4.5

In [ ]:
str(12.3) + str(4.5)